/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    background-color:black;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn{
    margin:10px;
}
.row{
    margin-top: 40px;
}
.span{
    font-size: 25px;
}
.quote{
    border: 2px solid whitesmoke;
    font-family: cursive;
    font-style: italic;
    margin: 10px, 0px;
    padding: 5px;
    font-size: 20px;
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
}